name: Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  check:
    name: Tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      
    - name: Running all tests
      run:  |
            cd tests
            tests=$(find . -name "test.*.c")
            echo List of files in the dir is:
            for test in $tests; do
                echo Compiling $test...
                gcc ../src/trim.c $test ./main.c
                ls a.out
                echo compiled.
                echo Running $test...
                ./a.out $test
                echo Finished $test.
            done;

